{% extends 'base.html' %}

{% block content %}

{% load static %}

<!-- subheader -->
<section id="subheader">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>EFFECTUEZ UN DON</h1>
        <ul class="subdetail">
          <li><a href="index.html">ACCEUIL</a></li>
          <li class="sep">/</li>
          <li>FAIRE UN DON</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- subheader end -->


<!-- section contact -->
<section class="contactbg no-top no-bottom" id="contactus">

  <!-- map -->
  <div class="jumbotron no-top no-bottom">
    <div class="onStep" data-animation="fadeInUp" data-time="300"
      style="display: flex;align-items:center;justify-content:center;">
      <div class="contenu" style="font-size:210px;color:green;background-color:rgba(216, 212, 212, 0)"><i
          class='bx bxs-donate-heart bx-burst'></i>
        <h3>Oeuvrez Pour l'allience PATRIOTIQUE et DEMOCRATIQUE du CAMEROUN</h3>
      </div>
    </div>
  </div>
  <!-- map end -->

  <div class="container">
    <div class="row">



      <!-- address -->
      <div class="col-md-4 col-xs-12">
        <div class="wrapaddres onStep" data-animation="fadeInRight" data-time="900">
          <h5>REMPLISSEZ LE FORMULAIRE POUR EFFECTUER UN DON</h5>

          <address>
            <span><strong>VOUS ETES LIBRE DE NE LAISSER AUCUNE INFORMATION SUR VOUS</strong></span> <span><strong>Phone
                :</strong> (+237)
              000 00 00 00</span> <span><strong>Fax :</strong> (+237) 000 00 00 00</span>
            <span><strong>Email :</strong> <a href="mailto:companyname@gmail.com">companyname@gmail.com</a></span>
            <span><strong>Web : </strong> <a href="#test">www.companyname.com</a></span>
          </address>
        </div>
      </div>
      <!-- address end -->

      <!-- Formulaire de don -->
      <div class="col-md-8 col-xs-12">
        <div class="onStep" data-animation="fadeInLeft" data-time="600" id="contact">
          <form action="{% url 'don' %}" class="row" id="form-contact" method="post" name="form-don">
            {% csrf_token %}
            <!-- Champ 'NomDonneur' correspondant au modèle Django -->
            <input id="name-don" name="NomDonneur" placeholder="VOTRE NOM"  type="text">

            <!-- Champ 'email' correspondant au modèle Django -->
            <input id="email-don" name="email" placeholder="VOTRE EMAIL" type="text">

            <!-- Champ 'telephone' correspondant au modèle Django -->
            <input id="telephone-don" name="telephone" placeholder="VOTRE TELEPHONE" type="text">

            <!-- Champ 'montant' correspondant au modèle Django, rendu obligatoire avec 'required' -->
            <input id="montant-don" name="montant" placeholder="LE MONTANT DU DON" type="text" required>

            <!-- Champ 'motivation' correspondant au modèle Django -->
            <textarea cols="50" id="message-don" name="motivation" placeholder="VOTRE MOTIVATION" rows="4"></textarea>

            <div class="success" id="mail_success">Merci pour votre don</div>
            <div class="error" id="mail_failed">Erreur, email non envoyé</div>

            <!-- Bouton pour soumettre le formulaire -->
            <button class="btn" id="send-don" type="submit">EFFECTUER LE DON</button>
          </form>
        </div>
      </div>

    </div>

    <!-- space -->
    <div class="space-single"></div>
</section>
<!-- section contact end -->

{% endblock %}